/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <260>;
};

/ {
    combos { compatible = "zmk,combos"; };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_L";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <3 4 5 10 11 12 13 14>; // right hand
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_R";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 6 7 8 9>; // left hand
        };

        sr: shift_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&to>;

            retro-tap;
        };

        hl_l: homerow_layers_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LAYERS_L";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;

            hold-trigger-key-positions = <3 4 5 10 11 12 13 14>; // right hand
        };

        hl_r: homerow_layers_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LAYERS_R";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;

            hold-trigger-key-positions = <0 1 2 6 7 8 9>; // left hand
        };
    };

    macros {
        ws_find: ws_find {
            compatible = "zmk,behavior-macro";
            label = "ws_find_macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LEFT_SHIFT &kp LEFT_SHIFT>;
        };

        ws_prettier: prettier {
            compatible = "zmk,behavior-macro";
            label = "prettier_macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp LEFT_ALT &kp O>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_ALT &kp O>,
                <&macro_press>,
                <&kp LEFT_COMMAND &kp LEFT_SHIFT &kp LEFT_ALT &kp P>,
                <&macro_release>,
                <&kp LEFT_COMMAND &kp LEFT_SHIFT &kp LEFT_ALT &kp P>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q               &kp W                 &kp F             &kp P                 &kp B           &kp J        &kp L                 &kp U                  &kp Y                       &kp SEMICOLON
&kp A               &kp R                 &kp S             &kp T                 &kp G           &kp M        &kp N                 &kp E                  &kp I                       &kp O
&hm_l LEFT_SHIFT Z  &hm_l LEFT_CONTROL X  &hm_l LEFT_ALT C  &hm_l LEFT_COMMAND D  &kp V           &kp K        &hm_r LEFT_COMMAND H  &hm_r RIGHT_ALT COMMA  &hm_r RIGHT_CONTROL PERIOD  &hm_r RIGHT_SHIFT SLASH
                                                            &lt 1 SPACE           &sk LEFT_SHIFT  &lt 2 ENTER  &lt 3 BACKSPACE
            >;
        };

        nav {
            bindings = <
&trans  &trans  &trans    &kp ESCAPE    &trans  &trans  &kp TAB   &kp UP_ARROW  &trans     &trans
&trans  &trans  &ws_find  &ws_prettier  &trans  &trans  &kp DOWN  &kp DOWN      &kp RIGHT  &trans
&trans  &trans  &trans    &trans        &trans  &trans  &trans    &trans        &trans     &trans
                          &trans        &trans  &trans  &trans
            >;
        };

        symbols {
            bindings = <
&kp GRAVE  &kp TILDE    &kp ASTERISK  &kp AMPERSAND    &trans  &kp LESS_THAN     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS         &kp EQUAL
&kp PIPE   &kp DOLLAR   &kp QUESTION  &kp EXCLAMATION  &trans  &kp GREATER_THAN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES
&kp CARET  &kp PERCENT  &kp AT        &kp HASH         &trans  &trans            &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH     &kp SLASH
                                      &trans           &trans  &trans            &trans
            >;
        };

        num {
            bindings = <
&trans  &kp N0        &kp NUMBER_1  &kp NUMBER_2  &trans  &trans  &kp NUMBER_3  &kp NUMBER_4  &kp N5     &trans
&trans  &kp NUMBER_6  &kp N7        &kp N8        &none   &trans  &kp N9        &kp PLUS      &kp MINUS  &trans
&trans  &trans        &trans        &trans        &trans  &trans  &trans        &trans        &trans     &trans
                                    &trans        &trans  &trans  &trans
            >;
        };

        Layer__4 {
            bindings = <
&trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &bootloader  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                             &trans  &trans  &trans  &trans
            >;
        };
    };
};
